<!DOCTYPE html>
<html lang="en">

    <!-- <Carrousel Types"> -->
    <div class="carouselType-container">
        <div class="owl-carousel carouselType"></div>
    </div>


    <br> <br>

     <!-- Categories -->
    <section id="port-sec-categories">
        <div class="carousel-container">
            <div class="h5">Explora Nuestras Categorías</div>
            <div class="owl-carousel carouseCategories"></div>
        </div>
    </section>

    <br> <br>

    <!-- Brands -->
    <section id="port-sec-brand">
        <div class="carousel-container">
            <div class="h5">Las marcas favoritas</div>
            <div class="owl-carousel carouseBrands"></div>
        </div>
    </section>

    <br> <br>
    <!-- Slider Cities-->    
    <section id="port-sec">
        <div class="carousel-container">
            <div class="h5">Tus Ciudades Mas Cercanas</div>
            <div class="owl-carousel carouselCities"></div>
        </div>
    </section>

    <br> <br>
    <!-- populares-->    
    <section id="port-sec">
        <div class="carousel-container">
            <div class="h5">Los Productos Mas Populares</div>
            <div class="owl-carousel carouselPopuProds"></div>
        </div>
    </section>

    <!-- rating-->    
    <section id="port-sec">
        <div class="carousel-container">
            <div class="h5">Los Productos Mejor Valorados</div>
            <div class="owl-carousel carouselRatingProds"></div>
        </div>
    </section>

        <!-- End_Cuerpo-->       
        </main> 
    </body>
</html>

<!-- Brands DataCards-->
<!-- <section id="port-sec">
    <div class="container">
        <div class="row pad-row">
            <div class="col-md-12 col-sm-12">
                <ul class="portfolio-items2 col-3">
                    <div class="h5">Las Mejores Marcas</div>
                    <div id="containerBrands"></div>
                </ul>
            </div>
        </div>
    </div>
</section> -->