<!-- Header -->
			<!-- Logo -->
			<!-- <div id="icono"> -->
				<!-- <a href="?module=home&op=view"></a> -->
			<!-- </div> -->

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container px-5">
				<a class="navbar-brand" href="index.php?page=ctrl_home&op=list">
					La Taberna De los Dados
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="search-bar">
					<div class="search-item search__type">
						<select id="type_game">
						<option value="" disabled selected>Tipo de juego</option>
						</select>
					</div>
			
					<div class="divider"></div>
			
					<div class="search-item search__brand">
						<select id="brand_game">
						<option value="" disabled selected>Marca</option>
						</select>
					</div>
			
					<div class="divider"></div>
			
					<div class="search-item search__city">
						<input
						type="text"
						id="autocom"
						placeholder="Ciudad"
						autocomplete="off"
						/>
						<div id="search_game" class="autocomplete">
						</div>
					</div>
			
					<div class="divider"></div>
			
					<div class="search-item search__lupa">
						<input type="button" value="Q" id="search-btn" />
					</div>
					</div>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.php?page=ctrl_shop&op=list">Shop</a></li>

                            <li class="nav-item" id="login_link"><a class="nav-link" href="index.php?page=ctrl_auth&op=list">Login</a></li>
                            
                            <li class="nav-item" id="user_menu">
                                <div id="des_inf_user" style="display: inline-block;"></div>
                                <div class="log-icon" style="display: inline-block;"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
		

<div id="page_container">

