<!-- Header -->
			<!-- Logo -->
			<!-- <div id="icono"> -->
				<!-- <a href="?module=home&op=view"></a> -->
			<!-- </div> -->

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container px-5">
					<div id="icono"></div>
					<ul class="nav_bar_logitp"></ul>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="search-bar">
					<div class="search-item search__type">
						<select id="type_game">
						<option value="" disabled selected>Tipo de juego</option>
						</select>
					</div> 
			
					<div class="divider"></div>
			
					<div class="search-item search__brand">
						<select id="brand_game">
						<option value="" disabled selected>Marca</option>
						</select>
					</div>
			
					<div class="divider"></div>
			
					<div class="search-item search__city">
						<input
						type="text"
						id="autocom"
						placeholder="Ciudad"
						autocomplete="off"
						/>
						<div id="search_game" class="autocomplete">
						</div>
					</div>
			
					<div class="divider"></div>
			
					<div class="search-item search__lupa">
						<input type="button" value="Q" id="search-btn" />
					</div>
					
					</div>
						<!-- Aquí se añadirán los elementos dinámicamente -->
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<!--  -->
					</ul>
                    </div>
                </div>
            </nav>
		<div id="page_container">

