<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Second Chance</title>

        <!-- JQUERY -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>

        <!-- BOX ICONS -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        
        <!-- CSS GLIDER -->
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
        
        <!-- CSS -->
		<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/home.css"/>
	    <link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/style.css"/>
        <link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/search.css"/>

        <!-- Toaster -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <!-- Plantilla -->
        <!-- <script src="view/js/plant/jquery.min.js"></script> -->
		<script src="<?php echo SITE_PATH ?>view/js/plant/jquery.dropotron.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/browser.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/breakpoints.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/util.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/main.js"></script>

        <!-- JS -->
        <script src="<?php echo SITE_PATH ?>module/home/view/js/controller_home.js"></script>
        <!-- <script src="<?php echo SITE_PATH ?>view/js/translate.js"></script> -->
        <script src="<?php echo SITE_PATH ?>view/js/img_path.js"></script>
        <!-- <script src="<?php echo SITE_PATH ?>module/search/view/js/controller_search.js"></script>
        <script src="<?php echo SITE_PATH ?>module/login/view/js/controller_login.js"></script> -->

        <!-- Main JS -->
        <script src="<?php echo SITE_PATH ?>view/js/main.js"></script>
        <script src="<?php echo SITE_PATH ?>view/js/activity.js"></script>

        <!-- SCROLL REVEAL -->
        <script src="https://unpkg.com/scrollreveal"></script>     
        
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <!-- Search -->
        <!-- <script src="module/seach/model/ctrl_search.js"></script>
        <link href="view/css/styles/search.css" rel="stylesheet" type="text/css" /> -->

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Animate.css (para animaciones) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

        <!-- firebase -->
        <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-firestore-compat.js"></script>
    </head>

    <body class="is-preload homepage">
        
        <div id="contenedor_carga">
            <div class="spinner"></div>
        </div>
        
        <!-- SCROLL TOP
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop_icon'></i>
        </a> -->