<html>
<body>
    <!-- list-games -->
    <div class="" id="filters"></div>
    <div class="main-container">
        <div class="left-column-shop">
            <div class="product-container" id="content_shop_games"></div>
            <div class="product-container" id="content_shop_nogames"></div>
        </div>
        <div class="right-column-shop">
            <div id="map" style="width: 465px; height: 480px;"></div>
        </div>
    </div>
    <!-- details-games -->
    <div class="main-container details-page">
        <div class="left-column-details">
            <div class="date_img" id="container-date-img"></div>
        </div>
        <div class="right-column-details">
            <div id="details-shop">
                <!-- <div id="mapDetails" style="height: 180px;"></div> -->
                <div class="date_prod" id="container-date-prod"></div>
            </div>
        </div>
    </div>
    <div id="mapDetails" class="mapDetails" style="height: 180px;"></div>
    <div class="results_acesories"></div>
    <div class="results"></div>
    <div id="pagination" class="pagination">

   </div>

    
</body>
</html>